node_modules/
CACHE/
__pycache__/
search_outputs/

questions.txt
search_test.py
test.py

*.pyc
*.gguf
*.bin
*.pdf
*.docx
*.doc
*.faiss
*.pkl
*.sqlite3
*.zip

.env

src/docs/migrations/__pycache__/0001_initial.cpython-39.pyc
src/website/__pycache__/settings.cpython-39.pyc
src/website/__pycache__/urls.cpython-39.pyc
src/website/__pycache__/views.cpython-39.pyc
src/docs/__pycache__/models.cpython-39.pyc
src/docs/__pycache__/apps.cpython-39.pyc
src/docs/__pycache__/admin.cpython-39.pyc
