pandas
django
django-cors-headers
django-compressor
ipykernel
langchain[all]
chromadb
unstructured[local-inference]
transformers
accelerate
llama-cpp-python
pdf2image
unstructured_pytesseract
uuid
huggingface_hub
python-dotenv
sentence_transformers