# dask
pandas
polars
django
django-cors-headers
django-compressor
ipykernel
langchain[all]
chromadb
unstructured
torch
transformers
datasets
accelerate
llama-cpp-python
pdf2image
unstructured_pytesseract
uuid
faiss-cpu
huggingface_hub
sentence_transformers