{% extends "_base.html" %} {% block content %}

<div
    id="main"
    class="flex justify-center items-center h-5/6 w-full bg-gray-400"
>
    <div class="w-5/6 h-4/5 bg-gray-200">
        <div id="doc-config" class="w-full h-full flex flex-wrap">
            <h1
                class="w-[100%] h-[20%] text-2xl font-bold grid place-content-center"
            >
                Document QnA
            </h1>
                {% include "head/upload.html" %}
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}
