<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login-register_styles.css">
    <title>Change Password</title>
</head>

<body>
    <div class="container">
        <div class="background-image"></div>
        <div class="form">
            <h3>Change Password</h3>
            <form>
                <div class="input-group">
                    <label for="old_password">Enter Old Password</label>
                    <input type="text" id="old_password" name="old_password" required>
                </div>
                <div class="input-group">
                    <label for="new_pass">Enter New Password</label>
                    <input type="text" id="new_pass" name="new_pass" required>
                </div>
                <div class="input-group">
                    <label for="new_pass">Re-enter New Password</label>
                    <input type="text" id="new_pass" name="new_pass " required>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>
