<!-- prettier-ignore -->
{% extends "_base.html" %}
<!-- prettier-ignore -->
{% load static %}

{% block page_js %}
<script src="{% static 'scripts/pass_toggle.js' %}"></script>
<script src="{% static 'scripts/handle_login.js' %}"></script>
{% endblock page_js %}

<!-- prettier-ignore -->
{% block content %}

<div id="container" class="min-h-screen bg-gray-50 flex">
    <div id="color" class="w-0 xl:w-[60%] min-h-screen bg-blue-500"></div>
    <div
        id="form"
        class="relative w-full xl:w-[40%] flex flex-col justify-center items-center"
    >
        <form class="px-4 flex flex-col">
            {% csrf_token %}
            <p
                class="select-none mb-14 text-4xl font-bold text-blue-500 self-center"
            >
                GenAI
            </p>
            <p class="select-none mb-10 text-2xl font-semibold text-gray-700">
                Let's Get Started!
            </p>
            <!-- prettier-ignore -->
            <div
                id="form-group"
                class="flex flex-col items-center justify-center my-2"
            >
                <label for="u_email" class="self-start mb-2 mt-1"
                    >Email ID</label
                >
                <input
                    type="email"
                    name="u_email"
                    id="u_email"
                    placeholder="xxx@xxx.com"
                    class="cursor-pointer w-full py-2 px-4 rounded-md outline-none border-2 border-gray-500 border-opacity-25 focus:border-blue-500"
                    required
                />
            </div>
            <div
                id="form-group"
                class="relative flex flex-col items-center justify-center my-2"
            >
                <label for="u_pass" class="self-start mb-2 mt-1"
                    >Password</label
                >
                <input
                    type="password"
                    name="u_pass"
                    id="u_pass"
                    placeholder="Enter Password here"
                    class="cursor-pointer w-full py-2 px-4 rounded-md outline-none border-2 border-gray-500 border-opacity-25 focus:border-blue-500"
                    required
                />
                <div
                    id="toggler"
                    class="cursor-pointer absolute h-10 w-10 flex justify-center items-center right-0 top-[50%]"
                >
                    <i id="pass_toggle" class="bi bi-eye-slash"></i>
                </div>
            </div>

            <div class="mt-4 self-center">
                <a href="#" class="text-gray-700 hover:text-blue-500"
                    >Forgot Password?</a
                >
            </div>

            <button
                id="login_btn"
                type="submit"
                class="mt-10 bg-blue-500 w-[60%] self-center rounded-md py-3 px-4 text-white hover:bg-blue-600"
            >
                Sign In
            </button>
        </form>
        <div
            id="footer"
            class="absolute bottom-0 h-[5%] w-full text-xs text-gray-500 grid place-content-center"
        >
            WAISL LIMITED © 2023 - 2024 All rights reserved.
        </div>
    </div>
</div>

{% endblock content %}
