{% extends "_base.html" %}{% load static %}

{% block content %}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper auth px-0">
            <div class="row h-100">
                <div class="col-lg-7 pr-0">
                    <div class="auth-form-blue h-100"></div>
                </div>
                <div class="col-lg-5 pl-0">
                    <div
                        class="auth-form-light h-100 auth-form-padding"
                    >
                        <div class="text-left py-5 px-4 px-sm-5 h-100">
                            <div
                                class="brand-logo d-flex align-items-center justify-content-center"
                            >
                                <!--prettier-ignore-->
                                <img src={% static "images/GenAI.png" %} alt="logo" class="logo-icon" />
                                <span class="logo-title">GenAI</span>
                            </div>
                            {% if request.session.data %}
                            <h3 class="pt-2">{{ request.session.data.msg }}</h3>
                            {% else %}
                            <h3 class="pt-2">let's get started!</h3>
                            {% endif %}

                            <form class="pt-3" method="post" action={% url "login" %}>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="u_email"
                                        >Email-Id</label
                                    >
                                    <input
                                        id="u_email"
                                        name="u_email"
                                        type="email"
                                        class="form-control form-control-lg"
                                        placeholder="xxxx@xxxx.xxx"
                                        required
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="u_pass"
                                        >Password</label
                                    >
                                    <input
                                        id="u_pass"
                                        name="u_pass"
                                        type="password"
                                        class="form-control form-control-lg"
                                        placeholder="Password123"
                                        required
                                    />
                                    <span
                                        toggle="#u_pass"
                                        class="fa fa-fw fa-eye field-icon toggle-password"
                                    ></span>
                                </div>

                                <div
                                    class="my-2 d-flex justify-content-between align-items-center"
                                >
                                    <div class="form-check">
                                        <label
                                            class="form-check-label text-muted"
                                        >
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                            />
                                            Keep me signed in
                                        </label>
                                    </div>
                                    <a
                                        href="#"
                                        class="auth-link text-black"
                                        >Forgot password?</a
                                    >
                                </div>
                                <div class="mt-3">
                                    <button
                                        id="login_btn"
                                        class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                        type="submit"
                                        >Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
{% endblock content %}
        
{% block page_js %}
<!-- password toggle -->
<script>
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<!-- password toggle end here-->
{% endblock page_js %}
