{% extends "_base.html" %} {% block content %}

<div
    id="main"
    class="flex justify-center items-center h-5/6 w-full bg-gray-400"
>
    <div class="w-5/6 h-4/5 bg-gray-200">
        <h1 class="w-full px-8 text-center font-bold text-2xl mt-10 mb-2">
            Welcome to the WAISL GenAI Platform
        </h1>
        <h5
            class="w-full px-8 font-semibold text-center text-md lg:text-xl mt-5 mb-10"
        >
            A next-generation AI Assistant for all your tasks, no matter the
            scale.
        </h5>
        <div
            id="btn-container"
            class="w-full flex gap-5 flex-row justify-center items-center"
        >
            <div
                class="h-10 w-fit md:m-0 bg-gray-100 text-gray-800 border-orange-500 border-2 box-border hover:bg-orange-500 hover:text-gray-200"
            >
                <a
                    href="/doc"
                    class="px-5 w-full h-full grid place-content-center"
                    >Document QnA</a
                >
            </div>
            <div
                class="h-10 w-fit md:m-0 bg-gray-100 text-gray-800 border-orange-500 border-2 box-border hover:bg-orange-500 hover:text-gray-200"
            >
                <a
                    href="/resume"
                    class="px-5 w-full h-full grid place-content-center"
                    >Resume AI</a
                >
            </div>
        </div>
        <div class="flex flex-col h-[50%] items-center mt-10 gap-10 sm:gap-0 sm:m-0 sm:flex-row">
            <div class="w-[90%] mx-1 h-16 lg:h-full grid place-content-center grid-rows-3 p-2 lg:p-5">
                <div
                    class="w-full h-16 lg:h-28 mx-auto grid place-content-center"
                >
                    <img
                        class="h-16 w-16 lg:h-28 lg:w-28"
                        src="../../static/elements/meta_logo.png"
                        alt="Meta Logo"
                    />
                </div>
                <div
                    class="w-full hidden sm:h-[14ch] sm:flex flex-col text-xs lg:text-sm text-justify px-8 lg:px-28 overflow-auto row-span-2"
                >
                    Llama 2 is Meta's open source large language model (LLM).
                    It's basically the Facebook parent company's response to
                    OpenAI's GPT models and Google's AI models like PaLM 2—but
                    with one key difference: it's freely available for almost
                    anyone to use for research and commercial purposes.
                    <br />
                    Llama 2 is a family of LLMs like GPT-3 and PaLM 2. While
                    there are some technical differences between it and other
                    LLMs, you would really need to be deep into AI for them to
                    mean much. All these LLMs were developed and work in
                    essentially the exact same way; they all use the same
                    transformer architecture and development ideas like
                    pretraining and fine-tuning.
                </div>
            </div>
            <div class="w-[90%] lg:h-full grid place-content-center grid-rows-3 p-2 lg:p-5">
                <div
                    class="w-full grid place-content-center"
                >
                    <img
                        class="w-16 lg:w-32 aspect-auto"
                        src="../../static/elements/openai_logo.png"
                        alt="OpenAI Logo"
                    />
                </div>
                <div
                    class="w-full hidden sm:h-[14ch] sm:flex flex-col text-xs lg:text-sm text-justify px-8 lg:px-28 overflow-auto row-span-2"
                >
                    OpenAI is a private research laboratory that aims to develop
                    and direct artificial intelligence (AI) in ways that benefit
                    humanity as a whole. The company was founded by Elon Musk,
                    Sam Altman and others in 2015 and is headquartered in San
                    Francisco.
                    <br />
                    Generative Pre-trained Transformer 4 (GPT-4) is a multimodal
                    large language model created by OpenAI, and the fourth in
                    its series of GPT foundation models. It was initially
                    released on March 14, 2023 and has been made publicly
                    available via the paid chatbot product ChatGPT Plus, and via
                    OpenAI's API.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
