{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login-register_styles.css'%}">
    <title>Register Page</title>
</head>

<body>
    <div class="container">
        <div class="background-image"></div>
    <div class="form">
            <h3>User Registration</h3>
            <form method="post", enctype="multipart/form-data", action="{% url 'register' %}">
            {% csrf_token %}
            {% if messages %}
            <div style="width:100%;height:auto;border-radius: 10px;background-color: #0000ff50;padding:10px;color:white;" role ="alert">
                {% for message in messages%}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
                <div class="input-group">
                    <label for="company_name">Enter Company Name</label>
                    <input type="text" id="company_name" name="company_name" required>
                </div>
                <div class="input-group">
                    <label for="name">Enter Full Name</label>
                    <input type="text" id="full_name" name="full_name" required>
                </div>
                <div class="input-group">
                    <label for="username">Enter Username (Email ID)</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Enter Password</label>
                    <input type="password" id="password" name="password" required>`
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>

