{% extends "_base.html" %}

{% block content %}
<div class="flex w-full h-full justify-center items-center bg-gray-200">
    <div class="grid grid-cols-2 grid-rows-1 w-[90%] h-[80%] shadow-lg shadow-gray-800 bg-slate-50">
        <div class="h-full w-full overflow-hidden flex items-center">
            <img class="scale-[260%]" src="../../static/elements/gen_ai.png" alt="">
        </div>
        <div class="bg-gray-50 flex flex-col items-center">
            <h2 class="h-[20%] text-3xl font-bold grid place-content-center">Change Password</h2>
            <form class="h-[80%] w-full flex flex-col items-center px-5">
                <div class="w-full my-5 flex flex-col">
                    <label for="old_pass">Username</label>
                    <input class="" type="text" id="username" name="username" placeholder="Enter your username..." required>
                </div>
                <div class="w-full my-5 flex flex-col">
                    <label for="old_pass">Old Password</label>
                    <input class="" type="password" id="old_pass" name="old_pass" placeholder="Enter your old password..." required>
                </div>
                <div class="w-full my-5 flex flex-col">
                    <label for="new_pass">New Password</label>
                    <input class="" type="password" id="new_pass" name="new_pass" placeholder="Enter your new password..." required>
                </div>
                <div class="w-full my-5 flex flex-col">
                    <label for="confirm_pass">Confirm Password</label>
                    <input class="" type="password" id="confirm_pass" name="confirm_pass" placeholder="Confirm your new password..." required>
                </div>
                <button id="reset_submit" class="my-5 h-20 w-full bg-blue-500 text-gray-100 hover:bg-blue-600 rounded-md text-2xl font-bold" type="submit">Submit</button>
            </form> 
        </div>
    </div>
</div>
{% endblock content %}