{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme='dark'>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block head_title %}{% endblock head_title %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap"
            rel="stylesheet"
        />
        {% include "head/fonts.html" %}
        {% include "head/css.html" %}

        {% block page_css %}{% endblock page_css %}
    </head>
    <body>
        {% block content %}{% endblock content %} {% include "head/js.html" %}
    </body>
</html>
