<div id="upload" class="w-[50%] h-[80%] p-5 flex flex-col">
    <h1 class="h-[10%] font-bold text-left">Upload your Documents:</h1>
    <div
        id="dropzone"
        class="w-[100%] group flex justify-center items-center h-[100%] bg-gray-100"
    >
        <div
            class="w-[99%] h-[98%] group-hover:border-solid group-hover:border-orange-500 border-gray-400 border-dashed border-2 flex flex-col justify-center items-center"
        >
            <input id="file_upload" type="file" class="hidden" />
            <p id="error" class="text-center text-md">
                Drag-n-Drop or Click to upload your files!
            </p>
        </div>
    </div>
</div>
<div class="w-[50%] h-[80%] p-5 flex flex-col">
    <h1 class="h-[10%] font-bold text-left">Configuration:</h1>
    