body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.background-image {
    position: relative;
    overflow: hidden;
    height:100%;
    width:50%;
    background: url('../static/elements/gen_ai.PNG') center/cover no-repeat;
}

.form {
    flex: 1;
    padding: 40px;
    background-color: #fef9f4;
}

h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.login ,
.onboarding,
.forgot-password
{
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #555;
}

button {
    width: 100%;
    margin-top: 5px;
    padding: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
