:root {
    --main: #3553ea;
    --main-hover: #2c46c9;
    --bg: #fef9f4;
    --dark: #000;

    --font: "Montserrat";
    --font-size: 40;
}

* {
    color: var(--dark);
    font: var(--font);
    font-size: var(--font-size);
}

body,
html {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: calc(10vh - 1px) calc(90vh + 1px);

    font-family: var(--font);
    font-size: var(--font-size);

    height: 100vh;
    width: 100vw;
}

.sidebar {
    height: 100%;
    background-color: var(--bg);

    grid-row: 1 / span 2;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 60vh 10vh 20vh;

    box-shadow: 5px 0px 10px #00000050;
    z-index: 3;
}

.dates,
.descriptions .options {
    background-color: var(--main);

    height: 100%;
    display: flex;
    flex-direction: column;
}

.dates,
.descriptions {
    overflow: auto;
}

.sidebar > h1 {
    color: var(--bg);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    margin: 0;
    font-size: larger;
    font-weight: 700;

    box-sizing: border-box;
    border: 0 var(--bg) solid;
    border-width: 0 0 1px 0;
}

.sidebar > .intro > p {
    font-weight: 600;
    margin: 10px;
}

.date,
.desc,
.option,
.nav > a {
    box-shadow: 0px -10px 10px inset #00000010;

    text-decoration: none;
    width: 100%;
    min-height: calc(10% - 1px);

    color: var(--dark);
    display: grid;
    place-content: center;

    text-align: center;

    background-color: #9ab2ff;
}

.date,
.desc,
.option {
    background-color: var(--bg);
}

.option {
    min-height: 50%;
    font-size: larger;
    font-weight: 800;
}

.date:hover,
.desc:hover,
.option:hover,
.nav > a:hover {
    border: 0 var(--bg) solid;
    border-width: 0 0 5px 0;
    box-sizing: border-box;
}

.date:hover,
.desc:hover,
.option:hover {
    border: 0 var(--main) solid;
    border-width: 0 0 0 10px;
}

.selected {
    background-color: var(--main);
    color: var(--bg);
}

.nav > .selected {
    background-color: var(--bg);
    color: var(--dark);
}

.nav > .selected:hover {
    box-sizing: border-box;
    border: 0 var(--main) solid;
    border-width: 0 0 5px 0;
}

.selected:hover {
    box-sizing: border-box;
    border: 0 var(--bg) solid;
    border-width: 0 0 0 10px;
}

.main {
    height: calc(90vh + 1px);
    width: 100%;
    position: relative;
    background-color: var(--main);
    opacity: 0.75;
    overflow: hidden;
    z-index: 0;
    grid-row: 2;
}

.main:after {
    content: '';
    height: 200%;
    width: 200%;
    position: absolute;
    top: -50%;
    left: -50%;
    background: url('./elements/logo-main.png') repeat;
    background-size: 5%;
    rotate: -45deg;

    opacity: 0.5;

    z-index: 1;
}

.nav {
    height: calc(10vh - 1px);
    background-color: var(--main);
    display: flex;
    justify-content: center;
    gap: 20px;

    grid-row: 1;

    box-shadow: 0px 5px 10px #00000050;
    z-index: 2;
}

.nav > a {
    background-color: var(--main);
    color: var(--bg);
    min-height: 100%;
    width: 20%;
    border: 0 var(--bg) solid;
    font-size: 1.25rem;
    font-weight: 800;
}
